.listheaderstyle {
    padding: 5px;
    background: #efefef;
    background-image: url('/images/background.jpg');
    border: #cccccc solid 1px;
    border-top: 0px;
}

.gbcaption {
    font-size: 16px;
    font-weight: bold;
}

/*.listheaderstyle {*/
/*padding: 5px;*/
/*background: #efefef;*/
/*background-image: url('/images/background.jpg');*/
/*border: #cccccc solid 1px;*/
/*border-top: 0px;*/
/*}*/

