<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
    <window id="winLogin"
            width="100%"
            apply="org.sprimaudi.zkcontroller.main.LoginController">

        <div style="margin: auto;width: 100%">
            <h:br/>
            <h:br/>
            <div style="width: 550px;margin: auto;background-image: url(${c:encodeURL('/images/Login.png')});background-repeat: no-repeat;">
                <h:br/>
                <h:br/>
                <div style="width: 350px;margin: auto;">
                    <h:br/>
                    <window style="background: transparent" title="Login..." border="normal" id="winLog" width="100%">
                        <grid width="100%">
                            <columns>
                                <column width="40%"/>
                                <column width="60%"/>
                            </columns>
                            <rows>
                                <row>
                                    <label value="Username"/>
                                    <textbox style="font-size: 20px;font-weight: bold;" id="txtUsername" hflex="true"/>
                                </row>
                                <row>
                                    <label value="Password"/>
                                    <textbox style="font-size: 20px" type="password" id="txtPassword" hflex="true"/>
                                </row>
                                <row>
                                    <label value="" hflex="true"/>
                                    <button id="btnLogin" label="login" image="images/Check.png"/>
                                </row>
                                <row spans="2">
                                    <label id="lblTimer" style="font: 10px verdana;"
                                           value="auto login as Superuser in 4s ...." hflex="true"/>

                                </row>
                            </rows>
                        </grid>
                    </window>
                    <timer id="tmrAutoLogin" repeats="true" delay="1000"/>
                    <h:br/>
                    <h:br/>
                </div>
            </div>

        </div>


    </window>
</zk>