<?page id="mainPage"  title="TVOM Lab"?>
<?link rel="stylesheet" type="text/css" href="/css/style.css" ?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
<style src="/jquery/ui/jquery-ui-1.9.2.custom.css"/>
<style src="/jquery/notify/jquery.pnotify.default.icons.css"/>
<style src="/jquery/notify/jquery.pnotify.default.css"/>
<script type="text/javascript" src="/jquery/notify/jquery.pnotify.js"></script>
<script type="text/javascript">
    jq.pnotify.defaults.styling = "jqueryui"
    function notify(message) {
        k = jq.pnotify({title: 'signal notification', text: message,
            type: 'info', closer: 'ui-icon ui-icon-circle-close', sticker: 'ui-icon ui-icon-circle-close', icon: 'ui-icon ui-icon-info'});
//            observe(k.id)
    }

    function observe(k) {
        setInterval(function () {

        }, 2000)
    }
</script>
<style dynamic="true">
    html {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        background-color: #cccccc;
        font-size: 8px;
    }

    .z-apply-loading-icon, .z-loading-icon {
        background-image: url(${c:encodeURL('/images/fbload.gif' )
    }

    )
    ;
        }

    .z-loading {
        top: 50% !important;
        left: 45% !important;
        align: center;
        vertical-align: middle;
    }

    .z-menu-popup-cnt .z-menu .z-menu-cnt, .z-menu-item-cnt {
        font-size: 10px;
    }

    .z-menubar-ver .z-menu-btn {
        font-size: 10px;
    }

    .z-menubar-hor .z-menu-btn, .z-menubar-hor .z-menu-item-btn, .z-menubar-ver .z-menu-btn, .z-menubar-ver .z-menu-item-btn {
        font-size: 10px;
    }

    .listHeaderStyle {
        border: 0;
        padding: 5px;
        background: #efefef;
        background-image: url(${c:encodeURL('/images/background.jpg' )
    }

    )
    ;
        }

    .timeline-event-label {
        font: 15px Verdana;
    }
</style>
<window width="100%" height="100%" context="ctxMain"
        apply="org.sprimaudi.zkcontroller.lab.TvomController">
    <borderlayout width="100%" vflex="1">
        <west width="50%" collapsible="false" splittable="false" open="true">
            <groupbox vflex="1">
                <grid width="100%">
                    <columns>
                        <column width="20%"/>
                        <column width="30%"/>
                        <column width="30%"/>
                        <column width="20%"/>
                    </columns>
                    <rows>
                        <row>
                            <label/>
                            <label value="Harga"/>
                            <decimalbox format="#,###.00" hflex="1" style="text-align: right" id="decHarga"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Termin"/>
                            <hbox>
                                <intbox width="25px" value="2" id="intDiskon"/>
                                <label value=" / "/>
                                <intbox width="25px" value="10" id="intDiskonDue"/>
                                <label value=", n /"/>
                                <intbox width="25px" value="30" id="intNormalDue"/>
                            </hbox>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Suku Bunga"/>
                            <hbox>
                                <doublebox value="11" id="douSukuBunga"/>
                                <label value=" %"/>
                            </hbox>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Tanggal bayar"/>
                            <datebox format="dd-MM-yyyy" hflex="1" id="datBayar"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label/>
                            <button label="Kalkulasi" id="btnKalkulasi"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Jumlah dibayar" id="lblBayar"/>
                            <label/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <cell colspan="2">
                                <decimalbox format="#,###.00" value="10000000"
                                            hflex="1"
                                            id="decBayar"
                                            style="font-weight: bold;font-size: 24px; text-align: right"/>
                            </cell>
                            <label/>
                        </row>
                    </rows>
                </grid>
            </groupbox>
        </west>
        <east width="50%" collapsible="false" splittable="false" open="true">
            <groupbox vflex="1">
                <grid width="100%">
                    <columns>
                        <column width="20%"/>
                        <column width="30%"/>
                        <column width="30%"/>
                        <column width="20%"/>
                    </columns>
                    <rows>
                        <row>
                            <label/>
                            <label value="Harga"/>
                            <label id="propHarga" style="text-align: right"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="jangka waktu"/>
                            <label id="propTenggat"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Diskon"/>
                            <label id="propDiskon"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Nilai Diskon"/>
                            <label id="propNilaiDiskon" style="text-align: right"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Suku bunga"/>
                            <label id="propSukuBunga"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Periode bunga"/>
                            <label id="propPeriodeBunga"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Nilai bunga"/>
                            <label id="propNilaiBunga" style="text-align: right"/>
                            <label/>
                        </row>
                        <row>
                            <label/>
                            <label value="Pembayaran"/>
                            <label id="propBayar" style="text-align: right"/>
                            <label/>
                        </row>
                    </rows>
                </grid>
            </groupbox>
        </east>
        <south size="250px" open="true">
            <groupbox vflex="1">
                <label id="lblCerita" style="font:12px helvetica;color: black;"
                       value="while this is south"/>
            </groupbox>
        </south>
    </borderlayout>
</window>
</zk>